html {
    color: #333;
    font-family: sans-serif;
    line-height: 1.4;
}

body {
    padding: 10px;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

#video-wrapper {
    margin: 0 auto;
    width: 300px;
}

button {
    display: block;
    font-size: 0.8rem;
    margin: 40px auto;
    padding: 20px;
}